/* ******** CONTAINER ******** */

.container {
    /* dimension */
    width: 100%;
    height: 100%;
    min-height: 0;

    /* distribucion grid */
    display: grid;
    grid-template:
        "header" auto
        "subheader" auto
        "content" 1fr
        "footer" auto
        / 100%;
    gap: 1.5rem;
}

/* ******** HEADER ******** */

.header {
    /* distribucion grid respecto al padre */
    grid-area: header;

    /* estilo */
    text-align: start;
    font-size: 24px;
    color: var(--color-theme-primary);

}

/* ******** SUBHEADER ******** */

.subheader {
    /* distribucion grid respecto al padre */
    grid-area: subheader;

    /* estilo */
    text-align: start;
    font-size: 24px;
    color: var(--color-theme-primary);
}


/* ******** CONTENT ******** */

.content {
    /* distribucion grid respecto al padre */
    grid-area: content;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 1rem;
}

.content > *{
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;

    border: 1px solid red;
}



/* ******** FOOTER ******** */

.footerSection {
    /* distribucion grid respecto al padre */
    grid-area: footer;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}