/* ********* Container ******** */

.container {
    /* distribucion flex con respecto al padre */
    flex: 1;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
}

.container > * {
    /* distribucion flex con respecto al padre */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

/* * ********* selectRowPerPageContainer  ******** */

.selectRowPerPageContainer {
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.select {
    /* dimension */
    width: 70px;
    /* estilos */
    color: var(--color-theme-primary);
}

/* * ********* pageInfoContainer ******** */

.pageInfo {
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

/* * ********* paginationButtonSection ******** */

.paginationButtonSection {
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.arrowLeftButton, .arrowRightButton {
    /* distribucion box */
    border: none;
    /* estilos */
    background-color: transparent;
    /* interactividad */
    cursor: pointer;
}

.arrowRight, .arrowLeft {
    /* estilos */
    color: var(--color-theme-primary);
    stroke: var(--color-theme-primary);
}

/* * ********* generals ******** */

.selectRowPerPageContainer > span,
.pageInfoContainer > span {
    color: var(--color-theme-primary);
    font-size: 14px;
}
    