/* ****************** Container ****************** */

.container {
    /* posicionamiento */
    position: relative;

    /* dimension */
    height: 44px;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    /* distribucion flex */
    background-color: var(--color-theme-font-white);
    border: 1px solid var(--color-theme-border-table);
    border-radius: 15px;

    /* animaciones */
    transition: box-shadow .2s ease, border-color .2s ease;
}

/* foco normal (solo si NO hay error) */
.container:focus-within {
    /* distribucion box */
    border-color: var(--color-theme-primary);
    /* estilos */
    /* box-shadow: 0 0 0 4px color-mix(in srgb, var(--color-theme-primary) 3%, transparent); */
}

/* === FORZAR rojo cuando hay error (con o sin foco) === */
.error,
.error:focus-within {
    /* distribucion box */
    border: 2px solid var(--color-alert);
    /* estilos */
    /* box-shadow: 0 0 0 4px color-mix(in srgb, #dc2626 12%, transparent); */
}

/* ****************** Label ****************** */

.label {
    /* posicionamientos */
    position: absolute;
    left: 5px;
    top: 0;
    transform: translateY(13px);

    /* animaciones */
    transition:
        transform .18s ease, font-size .18s ease,
        color .18s ease, background-color .18s ease;

    /* estilos */
    color: var(--color-theme-neutral-primary);
    font-size: 14px;
    line-height: 1;
    pointer-events: none;

}

/* Cuando hay foco o valor, “flota” arriba */
.floating {

    /* distribucion box */
    padding-inline: 0.2rem;
    border-radius: 15px;

    /* estilos */
    transform: translateY(-4px);
    font-size: 12px;
    color: var(--color-theme-primary);
    background-color: var(--color-theme-font-white);
}

/* === Label rojo en , también cuando está flotando === */
.labelError {
    color: var(--color-alert);
}


/* ****************** Input ****************** */

.input {
    /* dimension */
    height: 100%;
    width: 100%;

    /* distribucion box */
    border: none;
    padding-left: 0.5rem;
    padding-right: 1.5rem;
    border-radius: 15px;

    /* estilos */
    color: var(--color-theme-font-black);
    outline: none;
    background: transparent;
    font-size: 14px;
}

.inputError {
    /* estilos */
    caret-color: var(--color-alert);
}

/* ****************** Icono ****************** */

.icon {
    /* posicionamiento */
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);

    /* dimension */
    width: 16px;
    height: 16px;

    /* estilos */
    pointer-events: none;
}

.iconValid {
    stroke: var(--color-theme-primary);
}

.iconError {
    stroke: var(--color-alert);
}

/* .labelValid {
    color: #10b981;
}

.inputValid{
    caret-color: #10b981;
} */



.errorText{
    /* estilos */
    color: var(--color-alert);
    font-size: 12px;
}