.popoverFloating {
    /* distribucion box */
    border: 1px solid var(--color-theme-border-table);
    border-radius: 15px;
    background-color: var(--color-theme-font-white);

    /* scrollbar */
    scrollbar-width: thin;
    scrollbar-color: var(--color-theme-primary) transparent;
}

.trigger {
    /* dimension */
    height: 44px;

    /* distribucion box */
    padding-left: 0.5rem;
    border: 1px solid var(--color-theme-border-table);
    border-radius: 15px;
    
    /* distribucion flex */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    /* estilos */
    background-color: var(--color-theme-font-white);
}

.option {
    /* dimension */
    height: 44px;

    /* distribucion flex */
    display: flex;
    align-items: center;
    justify-content: flex-start;

    /* distribucion box */
    padding-left: 0.5rem;
    border: 1px solid var(--color-theme-border-table);
    
}