/* ********** PopoverFloating ********** */

.popoverFloating {
    /* dimension */
    min-height: 0;

    /* distribucion flex respecto al padre */
    flex: 1;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.fieldSelectContainer {
    /* posicionamiento */
    position: relative;
}

.icon {
    /* posicionamiento */
    position: absolute;
    right: 0.7rem;
    top: 50%;
    transform: translateY(-50%);

    /* dimension */
    width: 16px;
}