.tag {
    /* distribucion flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* dimension */
    width: 120px;
    height: 30px;

    border-radius: 10px;
    /* estilos */
    font-size: 14px;
    text-transform: capitalize;
}


.released {
    background-color: var(--color-alert-light);
    color: var(--color-alert);
    border: 1px solid var(--color-alert);

}

.shipping {
    background-color: var(--color-shipping-light);
    color: var(--color-shipping);
    border: 1px solid var(--color-shipping);
}

.finished {
    background-color: var(--color-success-light);
    color: var(--color-success);
    border: 1px solid var(--color-success);
}