.containerHeaderModal {
    width: 400px;
}

.customContainerHeaderModal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding-inline: 1rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    gap: 1.5rem;
}

.criticalActionButton {
    width: 100%;
}

.criticalActionButton{
    width: 100%;
}