.containerHeaderModal {
    width: 400px;
}

.customContainerHeaderModal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    padding-inline: 1rem;
    padding-bottom: 2rem;
    padding-top: 1rem;
    gap: 1rem;
}

.criticalActionButton {
    width: 100%;
}

.criticalActionButton {
    width: 100%;
}

.mainActionButton {
    width: 100%;
}   


/* ? ******* header  ******* */

.customContainerHeaderModal > h2 {
    font-size: 24px;
    color: var(--color-theme-font-black);
}

/* ? ******* Container Info ******* */

.containerInfo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    font-size: 14px;
}

.containerInfo dl {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
}

.containerInfo dt {
    color: var(--color-theme-primary);
}

.containerInfo dd {
    color: var(--color-theme-font-black);
}


/* ? ******* Container Input Field ******* */

.containerInputField {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;

    padding-inline: 1rem;
    padding-bottom: 0.4rem;
    padding-top: 0.4rem;
    background-color: var(--color-theme-font-white);
    border: 1px solid var(--color-theme-border-table);
    border-radius: 15px;
}

.containerInput{
    width: 150px;
}

.input {
    background-color: var(--color-theme-font-white);
    border: 1px solid var(--color-theme-primary);
}

.containerInputField label {
    font-size: 14px;
    color: var(--color-theme-neutral-primary);
}


/* ? ******* Text Area ******* */

.textArea::placeholder {
    color: var(--color-theme-neutral-primary);
}


/* ? ******* Container Select ******* */

.containerFieldObjectSelect {
    height: 44px !important;
    background-color: var(--color-theme-font-white) !important;
}

.containerOptionObjectSelect {
    height: 44px !important;   
}

/* ? ******* Container DatePicker ******* */

.inputDatePicker {
    height: 44px;
    width: 100%;

    font-size: 14px;
}