/* *************** Container *************** */

.containerStep {
    /* distirbucion flex respecto al padre*/
    flex: 1;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

}

.containerContent {
    /* distribucion flex respecto al padre */
    flex: 1;
}

.containerButtons {
    /* distribucion flex respecto al padre */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;

}

/* *************** Container Content *************** */

.containerContent {
    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;

}

.subTitleSpan {
    /* estilos */
    font-size: 16px;
    color: var(--color-theme-font-black);
}

/* ? ************* Production Block ************* */

.productionBlock {
    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;
}

.productionBlock>h2 {
    /* estilos */
    color: var(--color-theme-primary);
}

.productionBlockButtonContainer {
    /* distirbucion flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}


.productionBlockButtonContainer>div {
    /* distirbucion flex */
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}


/* ? ************* Inventory Block ************* */

.inventoryBlock {
    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;
}

.inventoryBlock>h2 {
    /* estilos */
    color: var(--color-theme-primary);
}

/* ? ************* Container Switch ************* */

.containerSwitch {
    /* distribucion flex respecto al padre*/
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


/* *************** Container Buttons *************** */

.containerButtons {
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}