            
.root {
    /* dimension */
    min-height: 0;
    min-width: 0;
    max-height: 100%;
    max-width: 100%;

    /* distribucion flex respecto al padre */
    flex: 1;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.content {
    /* dimension */
    min-height: 0;
    min-width: 0;
    max-height: 100%;
    max-width: 100%;

    /* distribucion flex respecto al padre */
    flex: 1;


    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

}

.steps {
    /* distribucion flex respecto al padre */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}