/* * **************  Container ************** */

.container {
    /* dimension */
    width: 100%;
    height: 100%;

    /* distribucion flex */
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* * **************  Image ************** */

.imageCard {
    width: 200px;
    height: 150px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    display: block;
}


.actions {
    /* posicionamiento */
    position: absolute;
    top: 2px;
    right: 2px;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
}

.editButton,
.removeButton {
    /* distribucion flex */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* * **************  Input File ************** */

.inputFile {
    /* su distribucion esta oculta */
    display: none;
}

/* * **************  Trigger ************** */

.triggerContainer {
    /* positionamiento */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}