/* *************** Production orders Model *************** */

.containerProductionOrdersModel {
    /* dimension */
    width: 100%;
    height: 100%;

    /* distribucion flex */
    display: flex;
    flex-direction: column;

    /* posicionamiento */
    position: relative;
}

.containerGenericTableContainer {
    /* dimension */
    width: 100%;
    height: 100%;
}

/* *************** Extra components *************** */

.containerExtraComponents {
    /* dimension */
    width: 100%;
    height: 100%;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
}

/* ? KPIS */

.containerKPI {
    /* dimension */
    height: 85px;
    width: 100%;
    /* distribucion flex */
    display: flex;
    flex-direction: row;;
    gap: 1rem;
}

.containerKPI>* {
    flex-grow: 0;
    flex-wrap: 0;
    flex-basis: 33.33%;
    border-radius: 15px;
}

.containerKPI {
    /* dimension */
    width: 100%;
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.containerIconKPI {
    /* dimension */
    width: 40%;
    height: 50%;
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--color-theme-font-white);
    border-radius: 10px ;
}

.sectionValueKPI{
    font-size: 36px;
}

.sectionTextKPI{
    display: flex;
    flex-direction: column;
    text-align: start;
}

sectionTextKPI > * {
    text-align: start;
}

.sectionTextKPI span{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}


.containerValueKPI{
    background-color: rgba(255, 255, 255, 0.5);
    color: var(--color-theme-font-white);
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 5px;
}


/* ? KPIs first */
.containerKPIFirst {
    background: var(--color-gradient-purple-white);
    color: var(--color-theme-font-white);
    
}

.IconKPIFirst {
    /* estilos */
    color: var(--color-theme-primary);
    font-size: inherit;
    cursor: pointer;
}

/* ? KPIs second */
.containerKPISecond {
    background-color: var(--color-success);
    color: var(--color-theme-font-white);
    
}

.IconKPISecond {
    /* estilos */
    color: var(--color-success);
    font-size: inherit;
    cursor: pointer;
}

/* ? KPIs third */
.containerKPIThird {
    background: var(--color-gradient-red-white);
    color: var(--color-theme-font-white);
}

.IconKPIThird {
    /* estilos */
    color: var(--color-alert);
    font-size: inherit;
    cursor: pointer;
}








/* *  First block */ 

.firstBlock {
    /* dimension */
    width: 100%;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;

    /* estilos */
    font-size: 16px;
}

.firstBlock h1 {
    /* estilos */
    font-size: 36px;
    color: var(--color-theme-primary);
}

.secondBlock {
    /* dimension */
    width: 100%;
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    /* estilos */
    font-size: 16px;
}

.containerButtons {
    /* dimension */
    width: 100%;
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 1rem;
    /* estilos */
    font-size: 16px;
}

/*? Fade button */
.fadeButtonExtraComponents {
    /* dimension */
    height: 48px;
    width: 250px;

    /* distribucion flex */
    border: none;
    border-radius: 10px;

    /* estilos */
    color: var(--color-theme-font-white);
    background: linear-gradient(var(--color-theme-gradient-start), var(--color-theme-gradient-end));
}

.fadeButtonSpanExtraComponents {
    /* distribucion flex */
    justify-content: center;

    /* estilos */
    font-size: 16px;
}

.fadeButtonExtraComponents:hover {
    /* estilos */
    background: var(--color-theme-primary-light);
    color: var(--color-theme-font-white);
}

.plusIconShippingOrderModel {
    /* estilos */
    color: var(--color-theme-font-white);
}

/*? Input Search */
.InputSearchContainerExtraComponents {
    /* dimension */
    width: 288px;
    height: 44px;

    /* estilos */
    background-color: var(--color-theme-background);
    font-size: inherit;

    /* distribucion box */
    border-radius: 10px;
}

.InputSearchInputExtraComponents {
    /* distribucion box */
    border-radius: 10px;

    /* estilos */
    font-size: inherit;
    background-color: var(--color-theme-background);
}

.InputSearchInputExtraComponents::placeholder {
    /* estilos */
    font-size: 14px;
    color: var(--color-theme-primary-light);
}

.searchIconExtraComponents {
    /* estilos */
    color: var(--color-theme-primary-light);
    cursor: pointer;
    font-size: inherit;
}

.searchIconExtraComponents:hover {
    /* estilos */
    color: var(--color-theme-primary-light);
    cursor: pointer;
    font-size: inherit;
}

/*?  Button Inverse */
.toggleInverseButtonExtraComponents {
    /* dimension */
    width: 200px;
    height: 48px;

    /* distribucion box */
    border: none;
    border-radius: 10px;

    /* estilos */
    font-size: inherit;
    color: var(--color-theme-primary-light);
    background-color: var(--color-theme-neutral-background);
}

.toggleInverseButtonSpanExtraComponents {
    /* distribucion flex */
    justify-content: center;
    gap: 0.5rem;

    /* estilos */
    font-size: inherit;
}

.toggleInverseButtonExtraComponents:hover {
    /* estilos */
    background-color: var(--color-theme-primary-light);
    color: var(--color-theme-font-white);
    font-size: inherit;
}

.toggleInverseButtonExtraComponents:disabled {
    /* estilos */
    background-color: var(--color-theme-background);
    color: var(--color-theme-neutral-primary);
    cursor: not-allowed;
    font-size: inherit;
    opacity: 0.6;
}

.toggleInverseButtonExtraComponents:disabled :global(svg) {
    /* estilos */
    color: var(--color-theme-neutral-primary);
}

.toggleInverseButtonExtraComponents:not(:disabled):hover :global(svg) {
    /* estilos */
    fill: var(--color-theme-primary-light);
    stroke: var(--color-theme-font-white);
}

.trash2IconExtraComponents {
    /* dimension */
    width: 20px;

    /* estilos */
    color: var(--color-theme-primary);
    font-size: inherit;
    cursor: pointer;
}

.downloadIconExtraComponents {
    /* dimension */
    width: 20px;

    /* estilos */
    color: var(--color-theme-primary);
    font-size: inherit;
    cursor: pointer;
}