.container {
    /* dimension */
    height: 44px;
    width: 100%;

    /* distribucion box */
    border-radius: 15px;
}

.input {
    /* distribucion box */
    border-radius: 15px;
    /*estilo*/
    font-size: 14px;
    border: 1px solid var(--color-theme-border-table);
}

.input:focus {
    outline: none;
}

.inputValid {
    border: 1px solid var(--color-theme-border-table);
}

.inputInvalid.inputInvalid {
    border: 2px solid var(--color-alert);
}

.icon {
    /* posicionamiento */
    position: absolute;
    right: 0.7rem;
    top: 50%;
    transform: translateY(-50%);
    /* dimension */
    width: 12px;
    height: 12px;
    /* estilo svg*/
    stroke-width: 3px;
    stroke: var(--color-theme-primary);
}