.inputTextCustom {
    border: 1px solid var(--color-theme-border-table);
    border-radius: 15px;
    font-size: 14px;
    height: 44px;
}

.iconButton {
    width: 15px;
    height: 15px;
    color: var(--color-theme-primary);
}

.inputTextCustom::placeholder {
    color: var(--color-theme-neutral-primary);
}

.inputTextButton {
    top: 0.2rem;
    right: 0.8rem;
}