.container {
    /* distribucion box */
    border-radius: 15px;
    background: var(--color-gradient-purple-white);
}

.conatiner>*:last-child {
    /* distribucion box */
    border-radius: 0 0 15px 15px;
}

.conatiner>*:first-child {
    /* distribucion box */
    border-radius: 15px 15px 0 0;
}

.containerSectionText {
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.containerSectionValue,
.containerSectionIcon {
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* distribucion box */
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

.containerSectionValue{
    /* estilos */
    color: var(--color-theme-font-white);
}

.containerIcon {
    /* dimension */
    width: 50px;
    height: 50px;
 
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    /* distribucion box */
    border-radius: 15px;

    /* estilos */
    background-color: var(--color-theme-font-white);
}
.icon{
    /* estilos */
    color: var(--color-theme-primary);   
}

.containerValue{
    font-size: 36px;
}