.container {
    /* distribucion flex respecto al padre*/
    flex-basis: 1;
    flex-grow: 1;
    flex-shrink: 0;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: nowrap;
}
.container>* {

    border: 1px solid BLACK;
}

.container>*:first-child,
.container>*:last-child {
    /* distribucion flex respecto al padre*/
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.container>*:nth-child(2) {
    /* distribucion flex respecto al padre*/
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}