.fadeButton {
    /* distribucion flex */
    display: flex;
    align-items: center;
    justify-content: center;
}

.fadeButtonSpan {
    /* dimension */
    width: 100%;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}