/* *************** Container *************** */

.containerStep {
    /*dimension */
    min-width: 0;
    min-height: 0;

    /* distirbucion flex respecto al padre*/
    flex: 1;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;
}

.containerContent {
    /* distribucion flex respecto al padre */
    flex: 1;
}

.containerButtons {
    /*dimension */
    min-width: 0;
    min-height: 0;

    /* distribucion flex respecto al padre */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

/* ************** Container Content **************** */

.containerContent {
    /*dimension */
    min-width: 0;
    min-height: 0;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;

    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-theme-primary) transparent;

}

.firstBlock {
    /* distribucion flex respecto al padre */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
}

.imageContainer {
    /* dimension */
    height: 100%;
    min-height: 150px;
    min-width: 200px;

    /* distribucion flex */
    display: flex;
}

.infoContainer {
    /* distribucion flex respecto al padre */
    flex: 1;
    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;
    padding-top: 1rem;

}

.inputGroup {
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5rem;
}

.inputGroup>* {
    /* distribucion flex respecto al padre */
    flex: 1;
}

.externalContainerTable {
    /* distribucion flex respecto al padre */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.contentHeaderTable {
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;
}

.subTitle {
    /* estilos */
    font-size: 16px;
    color: var(--color-theme-font-black);
}

.containerButtonsDiv{
    display: flex;
    flex-direction: row;
    gap: 1rem;

}

/* ********** Options Row ********** */

.iconTrash {
    /* interactividad */
    cursor: pointer;
    /* estilos svg */
    stroke: var(--color-alert);
    width: 16px;
    height: 16px;
}

.containerInputs{
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.inputRowCell{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
    border-bottom: 1px solid var(--color-theme-border-table);
}


/* *************** Container Buttons *************** */

.containerButtons {
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}


/* *************** ConfirmModal ************** */

.customMessageConfirmModal{
    /* estilos */
    font-size: 24px;
}

.customMessageConfirmModal > span{
    /* estilos */
    color: var(--color-theme-primary);
}

.iconConfirmModal{
    /* estilos svg  */
    width: 40px;
    height: 40px;
    stroke: var(--color-theme-primary);
}
