/* *************** Trigger *************** */

.fieldSelectContainer {
    /* dimension */
    width: 100%;
    /* posicionamiento */
    position: relative;
    /* distribucion flex*/
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    /* distribucion box */
    padding-inline-start: 0.5rem;
    padding-inline-end: 1.5rem;
    /* estilos */
    font-size: 14px;
}

.iconButton {
    /* posicionamiento */
    position: absolute;
    right: 0.5rem;
    
    /* estilos */
    background: transparent;
    border: none;
}

/* *************** Toggle *************** */

.toggle{

    /* distribucion flex*/
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;

    /* estilos */
    font-size: 14px;    
}

/* *************** Option *************** */

.option{
    /* distribucion flex con respecto al padre */
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;

    /* distribucion flex*/
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;

    /* distribucion box */
    padding-left: 0.7rem;
}