.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #ccc;
  border-top-color: var(--color-theme-primary);
  border-radius: 50%;
  animation: spin 0.7s linear infinite;
}

.containerLoading{
    position: fixed;
    top:0;
    width: 100vw;
    height: 100vh;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
