/* ? container */
.container {
    /* posicionamiento */
    position: relative;
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
}

/* ? input */
.input {
    /* dimensiones */
    width: 100%;
    height: 100%;
    /* distribucion box */
    padding-inline-start: 0.5rem;
    padding-inline-end: 1.5rem;
}