/* * ********* GeneratorBodyTable ********* */

.tableBody {
    /* dimension */
    width: 100%;
    height: 100%;
    max-width: 100%;

    /* estilos */
    text-align: center;
    font-size: 14px;
    z-index: 2000000000000000;
}

.tableBodyWithFooter>*:last-child {
    /* estilos */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.trTableEmpty {
    /* dimension */
    width: 100%;
    height: 100%;

    /* estilos */
    text-align: center;
}

.containerLoading {
    /* dimension */
    width: 100%;
    height: 100%;

    /* distribucion flex */
    display: flex;
    justify-content: center;
    align-items: center;
}


/* ********* RowComponent ********* */

.trTableBody {
    /* estilos */
    cursor: pointer;
}


.trTableBody:hover {
    /* estilos */
    background-color: var(--color-theme-neutral);
}

.rowSelected {
    /* estilos */
    background-color: var(--color-theme-neutral-background);
}

.tdTableBody>div {
    /* dimension */
    width: 100%;

    /* disitrbucion flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.tdTableBody>div {
    /* dimension */
    width: 100%;
    height: 100%;

    /* distribucion flex */
    display: flex;
    justify-content: center;
    align-items: center;
}


.tableBody>*>td {
    /* distribucion box */
    border: 1px solid var(--color-theme-border-table);
    padding: 5px;
}

.tableBody>*>th {
    /* distribucion box */
    border: 1px solid var(--color-theme-border-table);
}