/* *************** Container *************** */

.container {
    /* dimension */
    width: 100%;

    /* dsitribucion flex */
    display: flex;
    align-items: center;
    justify-content: stretch;

}

/* *************** Input *************** */

.input {
    /* dimension */
    width: 100%;
    height: 100%;

    /* distribucion flex */
    border-radius: 15px;

    padding-inline: 1rem;
}

.input:focus {
    /* estilos */
    outline: none;
}

.inputValidation {
    /* estilos */
    border: 2px solid var(--color-alert);
}