/* *************** Container *************** */

.containerStep {
    /* dimension */
    min-width: 0;
    min-height: 0;

    /* distirbucion flex respecto al padre*/
    flex: 1;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;

}

.containerContent {
    /* distribucion flex respecto al padre */
    flex: 1;
}

.containerButtons {
    /* distribucion flex respecto al padre */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;

}

/* *************** Container Content *************** */

.containerContent {
    /* dimension */
    min-width: 0;
    min-height: 0;
    
    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;

    padding-top: 1rem;

    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: var(--color-theme-primary) transparent;

}

.containerContent > *{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.subTitleSpan {
    /* estilos */
    font-size: 16px;
    color: var(--color-theme-font-black);
}

.iconTrash {
    stroke: var(--color-alert);
    width: 16px;
    height: 16px;
}


/* ? ************* Production Block ************* */

.informationBlock{
    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;
}

.rowBlock{
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.rowBlock>*{
    flex: 1;
}


.firstBlock{
    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.definitionList{
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.4rem;
}

.definitionList > dt {
    color: var(--color-theme-primary);
} 

/* ? ************* Production Block ************* */

.productionBlock {
    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;
}

.subTitle {
    /* estilos */
    font-size: 24px;
    color: var(--color-theme-primary);
}

.productionBlockButtonContainer {
    /* distirbucion flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.inventoryBlockButtonContainer{
    /* distirbucion flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.productionBlockButtonContainer>div {
    /* distirbucion flex */
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}


.containerProductionLineProducts{
    flex: 1;

    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.containerProductionLineProducts > *{
    background-color: var(--color-theme-neutral-background);
    padding-inline: 0.5rem;
    padding-block: 0.5rem;
    border-radius: 15px;
    border: 1px solid var(--color-theme-primary);
}


/* ? ************* Inventory Block ************* */

.inventoryBlock {
    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;
}

.inventoryBlock>h2 {
    /* estilos */
    color: var(--color-theme-primary);
}

/* ? ************* Container Switch ************* */

.statusBlock {
    /* distribucion flex */
    display: flex;
}




.dlStatus {
    flex:1;
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.tagActive {
    /* distribucion box */
    border: 1px solid var(--color-success);
    /* estilos */
    background: var(--color-success-light);
    color: var(--color-success);
}

.tagInactive {
    /* distribucion box */
    border: 1px solid var(--color-alert);
    /* estilos */
    background: var(--color-alert-light);
    color: var(--color-alert);
}


/* *************** Container Buttons *************** */

.containerButtons {
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


/* *************** ConfirmModal ************** */

.customMessageConfirmModal{
    /* estilos */
    font-size: 24px;
}

.customMessageConfirmModal > span{
    /* estilos */
    color: var(--color-theme-primary);
}

.iconConfirmModal{
    /* estilos svg  */
    width: 40px;
    height: 40px;
    stroke: var(--color-theme-primary);
}
