.overlay {
    /* posición absoluta en pantalla */
    position: fixed;
    top: 0;
    left: 0;

    /* dimensiones */
    width: 100vw;
    height: 100vh;

    /* distribución flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* capa superior */
    z-index: 1000;

    /* opcional: fondo semitransparente para oscurecer */
    background-color: var(--color-overlay);
}


.container {
    /* dimension */
    width: 670px;
    height: 250px;

    /* posicionamiento */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    /* distribucion box */
    padding: 1rem;
    border-radius: 20px;
    border: 1px solid var(--color-theme-border-table);

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    /* estilos */
    color: var(--color-theme-font-black);
    overflow-y: auto;
    background-color: var(--color-theme-background);
}

.closeButton {
    /* posicionamiento */
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;

    /* estilos */
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.closeButton {
    color: var(--color-theme-primary);
}

.content {
    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;

}

.title {
    /* estilos */
    font-size: 24px;
}

.error {
    /* distribucion flex */
    display: flex;
    flex-direction: column;
    /* estilos */
    color: red;
}



/*?  Container buttons */

.containerButtons {
    /* dimension */
    width: 100%;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    /* estilos */
    font-size: 14px;
}

.containerButtons>* {
    /* dimension */
    width: 200px;
    height: 45px;

    /* distribucion box */
    background-color: var(--color-theme-font-white);
    border-radius: 10px;

    /* estilos */
    font-family: inherit;
    font-size: inherit;
}

.deleteButtonSpan,
.cancelButtonSpan {
    /* distribucion flex */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.iconCancel,
.iconDelete {
    /* dimension */
    width: 15px;
    height: 15px;
}

.deleteButtonLabel {
    /* estilos */
    color: var(--color-alert);
}

.cancelButtonLabel {
    /* estilos */
    color: var(--color-theme-neutral-primary);
}

.iconDelete {
    /* estilos */
    color: var(--color-alert);
}

.iconCancel {
    /* estilos */
    color: var(--color-theme-neutral-primary);
}


.cancelButton:hover {
    /* estilos */
    border: 1px solid var(--color-theme-border-table);
}

.cancelButton:hover .cancelButtonLabel,
.cancelButton:hover .iconCancel {
    /* estilos */
    color: var(--color-alert);
}


/*?  Container warning icon */

.containerWarningIcon {
    /* dimension */
    width: 100%;

    /* distribucion flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

.warningIcon {
    /* estilos */
    color: var(--color-theme-primary);
}