/* ******** CONTAINER ******** */

.container {
    /* dimension */
    width: 100%;
    min-height: 0;
    min-width: 0;
}

.containerWithExtraComponents {
    /* distribucion  grid */
    display: grid;
    grid-template:
        "header" auto
        "main" 1fr
        / 100%;
    gap: 1rem;
}

.containerWithoutExtraComponents {
    /* distribucion  grid */
    display: grid;
    grid-template:
        "main" 1fr
        / 100%;
}

.headerContainer {
    /* distribucion  grid respecto al padre */
    grid-area: header;
}

.containerMain {
    /* distribucion  grid respecto al padre */
    grid-area: main;
}

/* ******** HEADER ******** */

.headerContainer {
    /* distribucion flex */
    display: flex;
}

.extraComponentsContainer {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 0.5rem;
}


/* ********  MAIN ******** */

.containerMain {
    /* distribucion grid */
    display: grid;

    /* distribucion box */
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    /* dimension */
    min-height: 0;
    min-width: 0;

}

.containerMainWithFooterOrPagination {
    /* distribucion grid */
    grid-template:
        "table" 1fr
        "option" auto
        / 100%;
}

.containerMainWithoutFooterOrPagination {
    /* distribucion grid */
    grid-template:
        "table" 1fr
        / 100%;
}

.containerMainOnlyFooter {
    /* distribucion flex */
    gap: 1.5rem;
}

.containerTable {
    /* distribucion grid respecto al padre */
    grid-area: table;
}

.containerOption {
    /* distribucion grid respecto al padre */
    grid-area: option;
}


/* ******** CONTAINER OPTION ******** */

.containerOption {

    /* distribucion flex */
    display: flex;
    flex-direction: column;
}


.containerPagination {
    /* distribucion grid */
    grid-area: option;
    /* dimension */
    /* distribucion box */
    border: 1px solid var(--color-theme-neutral-background);
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding-left: 2rem;
    padding-right: 2rem;
}



/* ******** CONTAINER TABLE ******** */

.containerTable {
    /* dimension */
    min-height: 0;
    min-width: 0;
    /* distribucion grid */

    /* distribucion box */
    border: 1px solid var(--color-theme-border-table);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    /* desbordamiento */
    overflow-x: auto;
    overflow-y: auto;

    /* estilos */
    background-color: var(--color-theme-font-white);
}

.wrapperTable {
    /* distribucion flex respecto al padre */
    flex: 1;

    /* dimension */
    min-height: 0;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}

.wrapperTableEmpty {
    /* distribucion flex con respecto al padre */
    flex: 1;

    /* dimension */
    min-height: 0;
    min-width: 0;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
}

.wrapperTableEmpty>*:first-child {
    /* distribucion flex con respecto al padre */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.wrapperTableEmpty>*:last-child {
    /* distribucion flex con respecto al padre */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;
}

/*
Selecciona el scrollbar en sí (el carril que aparece al hacer overflow). 
width: define el grosor del scrollbar vertical. 
height: define el grosor del scrollbar horizontal.
*/
.containerTable::-webkit-scrollbar {
    width: 8px;
    /* para scroll vertical */
    height: 8px;
    /* para scroll horizontal */
}

/* 
Define el fondo o carril del scrollbar. background: transparent lo hace invisible,
para que solo el pulgar (thumb) sea visible.
 */
.containerTable::-webkit-scrollbar-track {
    /* estilos */
    background: transparent;
}

/* es el "pulgar" del scrollbar — la parte que arrastras. */
.containerTable::-webkit-scrollbar-thumb {
    /* distribucion box */
    border-radius: 15px;
    /* estilos */
    background-color: var(--color-theme-primary);
}

/*
Estas propiedades sólo afectan Firefox, mientras que las anteriores (-webkit-) son para Chrome, Safari, Edge.
    scrollbar-width: thin:
        Controla el grosor del scrollbar.
        Opciones: auto (normal), thin (más delgado), none (oculto).
    scrollbar-color: <thumb> <track>:
        #423DD9: color del pulgar (thumb).
        transparent: fondo del carril (track).
*/
.containerTable {
    scrollbar-width: thin;
    /* Firefox */
    scrollbar-color: var(--color-theme-primary) transparent;
    /* Firefox */
}

.containerTableBorderRadius {
    /* distribucion box */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

/* ? ******** TABLE ******** */

.table {
    /* distribucion box */
    border-collapse: separate;
    border-spacing: 0.2px;
}

.tableWithoutRow {
    /* distribucion flex respecto al padre */
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 0;
}

/* ? ******** TABLE HEADER ******** */


/******************************************
*    Componentes auxiliares de la tabla  *
******************************************/

/* checkboxes de las rows  y de la seleccion de todas las rows */
.checkbox {
    /* dimension */
    width: 16px;
    height: 16px;

    /* posicionamiento */
    position: relative;

    /* distribucion */

    display: inline-block;

    /* distribucion box */
    border: 2px solid var(--color-theme-primary-light);
    /* border-radius: 15px; */

    /* estilos */
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: var(--color-theme-font-white);
    cursor: pointer;
    appearance: none;

    /* animaciones */
    transition: all 0.2s ease;
}

.checkbox:checked {
    /* distribucion box */
    border-color: var(--color-theme-primary-light);
    /* estilos */
    background-color: var(--color-theme-primary-light);
}

.checkbox:checked::after {
    /* dimension */
    width: 4px;
    height: 8px;

    /* posicionamiento */
    position: absolute;
    top: 0.5px;
    left: 3.8px;
    transform: rotate(45deg);

    /* distribucion box */
    border: 1px solid var(--color-theme-font-white);
    border-width: 0 2.5px 2.5px 0;

    /* estilos */
    content: "";
}


.checkboxHeader {

    /* dimension */
    width: 16px;
    height: 16px;

    /* posicionamiento */
    position: relative;

    /* distribucion */

    display: inline-block;

    /* distribucion box */
    border: 2px solid var(--color-theme-font-white);
    /* border-radius: 15px; */

    /* estilos */
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: var(--color-theme-font-white);
    cursor: pointer;
    appearance: none;

    /* animaciones */
    transition: all 0.2s ease;
}

.checkboxHeader:checked {
    /* distribucion box */
    border-color: var(--color-theme-font-white);
    /* estilos */
    background-color: var(--color-theme-font-white);
}

.checkboxHeader:checked::after {
    /* dimension */
    width: 4px;
    height: 8px;

    /* posicionamiento */
    position: absolute;
    top: 0.5px;
    left: 3.8px;
    transform: rotate(45deg);

    /* distribucion box */
    border: 1px solid var(--color-theme-primary);
    border-width: 0 2.5px 2.5px 0;

    /* estilos */
    content: "";
}


/* options column */
.optionsColumnContainer {
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.optionsColumn {
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.1rem;
}

.optionsColumnButton {
    /* distribucion box */
    border: none;
    /* estilos */
    background: transparent;
    cursor: pointer;
}