.container {
  /* posicionamiento */
  position: relative;
}

.optionIconButton {
  /* distribucion box */
  border: none;
  /* estilos */
  background: transparent;
  cursor: pointer;
}

.optionIcon {
  /* dimension */
  width: 25px;
  height: 25px;
  /* estilos */
  color: var(--color-theme-font-white);
}

/* popover */

.popoverOptions {
  /* dimension */
  width: 300px;
  min-height: 0px;

  /* posicionamiento */
  position: absolute;
  top: 100%;
  z-index: 10;

  /* distribucion flex */
  display: flex;
  flex-direction: column;

  /* distribucion box */
  margin-top: 0%;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--color-theme-border-table);

  /* estilos */
  background-color: var(--color-theme-background);

}

.sortSection {
  /* dimension */
  height: 88px;

  /* distribucion box */
  border: 1px solid var(--color-theme-border-table);
}

.filterSection {
  /* dimension */
  height: auto;

  /* distribucion box */
  border-radius: 10px;

  /* estilos */
  background-color: var(--color-theme-font-white);
}

.popoverOptions>*:not(:last-child) {
  /* distribucion box */
  margin-bottom: 1rem;
}

/* sort section */

.sortSection {
  /* distribucion flex */
  display: flex;
  flex-direction: column;

  /* distribucion box */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 1px solid var(--color-theme-border-table);
}

.groupButtons {
  /* distribucion flex */
  display: flex;
  flex-direction: column;

  /* dimension */
  width: 100%;
  height: 100%;

  /* distribucion box */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.labelButton {
  /* distribucion flex */
  display: flex;
  flex-direction: row;
  gap: 0.5rem;

  /* distribucion box */
  padding-left: 0.5rem;

  /* estilos */
  background-color: var(--color-theme-font-white);
  color: var(--color-theme-primary);
}

.labelButton.selected {
  /* estilos */
  background-color: var(--color-theme-neutral-background);
}

.labelButton:not(.selected):hover {
  /* estilos */
  background-color: var(--color-theme-background);
}

.groupButtons> :first-child {
  /* distribucion box */
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.groupButtons> :last-child {
  /* distribucion box */
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* separator */

.separator {
  /* dimension */
  width: 100%;
  height: 1px;

  /* estilos */
  background-color: var(--color-theme-neutral);
}


/*********************
*   actions section  *
**********************/

/* apply button */
.applyButton {
  /* dimension */
  width: 270px;
  height: 44px;

  /* estilos */
  color: var(--color-theme-font-white);
  border-radius: 10px;
  cursor: pointer;
  background: linear-gradient(var(--color-theme-gradient-start), var(--color-theme-gradient-end));
}

.applySpan {
  /* distribucion flex */
  justify-content: center;
}

.applyButton:hover {
  /* estilos */
  background: var(--color-theme-primary-light);
  color: var(--color-theme-font-white);
}


/* cancel button */
.cancelButton {
  /* dimension */
  width: 270px;
  height: 44px;

  /* estilos */
  color: var(--color-theme-primary-light);
  border-radius: 10px;
  background-color: var(--color-theme-font-white);
  cursor: pointer;
}

.cancelSpan {
  /* distribucion flex */
  justify-content: center;
}

.cancelButton:hover {
  /* estilos */
  color: var(--color-theme-primary);
  border: 1px solid var(--color-theme-border-table);
}

.cancelButton:hover .icon {
  /* estilos */
  color: var(--color-theme-primary);
}

/* reset button */
.IconActionSection {
  /* dimension */
  width: 15px;
  height: 15px;
}

.resetButtonContainer {
  /* distribucion flex */
  display: flex;
  justify-content: center;
  align-items: center;

  /* estilos */
  font-family: inherit;
  font-size: inherit;
}

.resetButton {
  /* dimension */
  width: 50%;

  /* estilos */
  color: var(--color-theme-primary);
  background-color: var(--color-theme-background);
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}

.resetSpan {
  /* distribucion flex */
  justify-content: center;
}

.resetSpan span {
  /* estilos */
  cursor: pointer;
}

.resetButton:hover .resetSpan span,
.resetButton:hover .resetSpan .IconActionSection {
  /* estilos */
  color: var(--color-theme-primary-light);
}


/*********************
*   Filter Section   *
**********************/


/* calendar */

.smallCalendar {
  /* dimension */
  width: calc(100% * (1 / 0.75));
  height: calc(100% * (1 / 0.75));

  /* transformaciones */
  transform: scale(0.75);
  transform-origin: top left;

  /* distribucion box */
  padding-left: 4rem;
}

:global(.rdp-caption_label) {
  /* estilos */
  font-size: 24px;
  font-weight: bold;
}




:global(.rdp-caption_label),
:global(.rdp-day_selected),
:global(.rdp-day_today) {
  /* estilos */
  color: var(--color-theme-primary);
}

:global(.rdp-today .rdp-day_button) {
  /* estilos */
  color: var(--color-theme-primary);
}

:global(.rdp-day_button:hover) {
  /* estilos */
  background-color: var(--color-theme-neutral-background);
  border-radius: 50%;
}

/* list checkbox */

.ListCheckboxContainer {
  /* distribucion flex */
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  /* dimension */
  border-radius: 10px;
  border-radius: 10px;

  /* estilos */
  font-family: inherit;
  font-size: 14px;
  background-color: var(--color-theme-background);
}

.ListCheckboxGroupOptions {
  /* dimension */
  height: 150px;

  /* distribucion box */
  border-radius: 10px;
  
  /* estilos */
  overflow-y: auto;
  background-color: var(--color-theme-font-white);
}

.ListCheckboxOption {
  /* distribucion flex */
  gap: 0.5rem;

  /* distribucion box */
  border: 1px solid var(--color-theme-border-table);
  padding: 1rem;

  /* estilos */
  color: 1px solid;
}

.ListCheckboxInputOption[type="checkbox"] {
  /* estilos */
  accent-color: var(--color-theme-primary-light);
}

.ListCheckboxOption:not(.ListCheckboxOptionSelected):hover {
  /* estilos */
  background-color: var(--color-theme-background);
  color: var(--color-theme-font-black);
}

.ListCheckboxOptionSelected {
  /* estilos */
  background-color: var(--color-theme-neutral-background);
  font-weight: 600;
}

/*
Selecciona el scrollbar en sí (el carril que aparece al hacer overflow). 
width: define el grosor del scrollbar vertical. 
height: define el grosor del scrollbar horizontal.
*/
.ListCheckboxGroupOptions::-webkit-scrollbar {
  /* dimension */
  width: 8px;
  /* para scroll vertical */
  height: 8px;
  /* para scroll horizontal */
}

/* 
Define el fondo o carril del scrollbar. background: transparent lo hace invisible,
para que solo el pulgar (thumb) sea visible.
*/
.ListCheckboxGroupOptions::-webkit-scrollbar-track {
  /* estilos */
  background: transparent;
}

/* es el "pulgar" del scrollbar — la parte que arrastras. */
.ListCheckboxGroupOptions::-webkit-scrollbar-thumb {
  /* distribucion box */
  border-radius: 4px;
  /* estilos */
  background-color: var(--color-theme-primary);
}

/*
Estas propiedades sólo afectan Firefox, mientras que las anteriores (-webkit-) son para Chrome, Safari, Edge.
  scrollbar-width: thin:
      Controla el grosor del scrollbar.
      Opciones: auto (normal), thin (más delgado), none (oculto).
  scrollbar-color: <thumb> <track>:
      #423DD9: color del pulgar (thumb).
      transparent: fondo del carril (track).
*/
.ListCheckboxGroupOptions {
  scrollbar-width: thin;
  /* Firefox */
  scrollbar-color: var(--color-theme-primary) transparent;
  /* Firefox */
}

.ListCheckboxContainerSearch {
  /* dimension */
  height: 44px;

  /* distribucion box */
  border-radius: 10px;
  border: 1px solid var(--color-theme-border-table);

}

.ListCheckboxInputSearch {
  /* distribucion box */
  border-radius: 10px;
  border: 1px solid var(--color-theme-border-table);

  /* estilos */
  background-color: var(--color-theme-font-white);
}

.ListCheckboxInputSearch::placeholder {
  /* estilos */
  font-size: 14px;
}

.ListCheckIconSearch {
  /* dimension */
  width: 20px;
  height: 20px;

  /* estilos */
  color: var(--color-theme-primary);
}

/* number slicer */
.numberSlicer {
  /* dimension */
  width: 100%;
}


/* reset button */

.applyButton:disabled {
  /* estilos */
  background: var(--color-theme-neutral-background);
  color: var(--color-theme-neutral-primary);
  cursor: not-allowed;
  opacity: 0.6;
}