.container {
  /* posicionamiento */
  position: relative;
}



.smallCalendar{
  padding: 1rem;
}

.optionIconButton{
  border: none;
  background: transparent;
  cursor: pointer;
}

.optionIcon{
  color: var(--color-theme-font-white);
}