/* *************** Container *************** */

.containerStep {
    /* distirbucion flex respecto al padre*/
    flex: 1;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.containerContent {
    /* distirbucion flex respecto al padre*/
    flex: 1;
    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.containerButtons {
    /* distirbucion flex respecto al padre*/
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

/* ************** Container Content ******************* */

.containerContent {
    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0.5rem;
}

.inputContainer.inputContainer {
    /* dimension */
    height: 44px;
    /* estilos */
    background-color: var(--color-theme-font-white);
}

.secondBlock {
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

.secondBlock>* {
    /* distribucion flex respecto al padre */
    flex: 1;
}

/* ? **** Component Header **** */

.componentHeader {
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.iconTrash {
    stroke: var(--color-alert);
    width: 16px;
    height: 16px;
}

/* ? ************* Container Switch ************* */

.containerSwitch {
    /* distribucion flex respecto al padre*/
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* ***************** Container buttons ******************* */

.containerButtons {
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.labelSwitch {
    /* estilos */
    font-size: 14px;
}

.emptyMessage {
    /* estilos */
    font-size: 14px;
}