/* ********** PopoverFloating ********** */

.popoverFloating {
    /* dimension */
    min-height: 0;

    /* distribucion flex respecto al padre */
    flex: 1;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    align-items: stretch;


    /* estilos */
    background-color: var(--color-theme-font-white);
}

/* ********** containerCheckBoxesMain ********** */

.containerCheckBoxesMain {
    /* dimension */
    min-height: 0;

    /* distribucion flex respecto al padre */
    flex: 1;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.containerCheckBoxesMain>* {
    /* distribucion flex respecto al padre */
    flex: 1;
}

/* ********** containerCheckBoxesSelected  y containerCheckBoxesNoSelected********** */

.containerCheckBoxesSelected,
.containerCheckBoxesNoSelected {
    /* distribucion flex */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.containerCheckBoxesSelectedItems,
.containerCheckBoxesNoSelectedItems {
    /* distribucion flex */
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.containerEmptyMessage {
    /* dimension */
    height: 44px;

    /* distribucion flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ********** checkBoxItem ********** */

.checkBoxItem {

    /* distribucion flex respecto al padre */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 44px;


    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;

    /* distribucion box */
    padding-left: 0.5rem;

}

.label {
    /* estilos */
    font-size: 14px;
}