/* *************** Container *************** */

.containerStep {
    /* distirbucion flex respecto al padre*/
    flex: 1;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.containerContent {
    /* distribucion flex respecto al padre */
    flex: 1;
}

.containerButtons {
    /* distribucion flex respecto al padre */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

/* ************** Container Content **************** */

.containerContent {
    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
}

.firstBlock {
    /* distribucion flex respecto al padre */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
    
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
}

.imageContainer {
    /* dimension */
    height: 150px;
    width: 200px;

    /* distribucion flex */
    display: flex;
}

.infoContainer {
    /* distribucion flex respecto al padre */
    flex:1;
    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;

}

.inputGroup{
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 0.5rem;
}

.inputGroup > *{
    /* distribucion flex respecto al padre */
    flex: 1;
}

.subTitle{
    /* estilos */
    font-size: 16px;
    color: var(--color-theme-font-black);
}

/* *************** Container Buttons *************** */

.containerButtons {
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}