/* *************** Container *************** */

.container {
    /* dimension */
    height: 30px;

    /* distribucion box */
    border-radius: 15px;

}

.input {

    /* distribucion box */
    border: 1px solid var(--color-theme-border-table);

    /* estilos */
    background-color: var(--color-theme-background);
    font-size: 14px;
}
