/* ******** Container ******** */

.container {
    /* dimension */
    height: 50px;
    width: 100%;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

.containerWithoutSelection {
    /* dimension */
    justify-content: flex-end;
}

.containerWithSelection {
    /* dimension */
    justify-content: space-between;
}

/* ******** Pagination ******** */

.paginationContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}

.paginationControls {
    /* dimension */
    width: auto;
}

/* ******** Info ******** */

.infoContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.infoContainer {
    color: var(--color-theme-primary);
    font-size: 14px;

}