/* ***************      GRID CONTAINER     ***************/

.gridContainerCollapsed {
    /* dimension */
    width: 100%;
    height: 100%;
    min-height: 0;

    /* distribucion grid */
    display: grid;
    grid-template:
        "aside header"
        "aside main" 1fr / auto 1fr;
    min-inline-size: 0;
    /* permite colapsar el texto */
}

.gridContainer {
    /* dimension */
    width: 100%;
    height: 100%;
    min-height: 0;

    /* distribucion grid */
    display: grid;
    grid-template:
        "aside header" auto
        "aside main" 1fr / 235px 1fr;
    min-inline-size: 0;
    /* permite colapsar el texto */
}


/* ***************      ASIDE      ***************/

/* ? *** EXPANDIDO *** */

.aside {
    grid-area: aside;

    /* distribucion flex*/
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1.7rem;

    /* distribucion box */
    padding-top: 0.8rem;

    /* estilos */
    /* background-color: var(--color-theme-primary); */
    background: var(--linear-gradient-primary);

}

.aside>* {
    /* distribucion flex desde el padre */
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 0;
}

.navLogoIcon {
    /* dimension */
    width: 35px;
    height: 35px;
    color: var(--color-theme-font-white);
}


/* ? *** COLLAPSED *** */

.asideCollapsed {
    grid-area: aside;

    /* posicionamiento */
    position: relative;

    /* distribucion flex*/
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    gap: 1.7rem;

    /* distribucion box */
    padding-top: 0.8rem;

    /* estilos */
    background-color: var(--color-theme-primary);
    font-size: 16px;

}

.asideCollapsed>* {
    /* distribucion flex desde el padre */
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 0;
}

/* ?  *** LOGICA EN COMUN (COMPARTIDA) *** */


/* CONTENIDO DEL ASIDE */
.contentNav {
    /* distribucion flex */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    /* estilos */
}

/*2***************      LISTADO DEL NAV     *************** */

.navList {
    /* distribuccion flex desde el padre */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    /* estilos */
    list-style: none;
}


.navList>* {
    /* distribucion flex desde el padre */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
}


/*2***************      ITEM DEL NAV     *************** */

.navItem {
    /* distribucion flex desde el padre */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50px;

    /* dimension */
    padding-block: 0.5rem;
    padding-inline: 0.8rem;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    /* interactivdad */
    cursor: pointer;
    text-decoration: none;
}

.navItem:hover:not(.navItemActive) {
    color: var(--color-theme-font-white);
    background-color: var(--color-theme-primary-light);
    border-bottom: 1px solid white;
}

.navItemIcon {
    height: 24px;
    width: 24px;
    color: var(--color-theme-font-white);
    /* interactivdad */
    cursor: inherit;
}

.navLink {
    flex: 1 1 auto;
    min-inline-size: 0;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.2rem;
}

.navItemLabel {
    color: var(--color-theme-font-white);
    /* interactivdad */
    cursor: inherit;
}

.navItemLabelCollapsed {
    max-width: 0;
    /* ocupa 0, pero sigue montado */
    opacity: 0;
    /* opcional (solo visual) */
    pointer-events: none;
    /* sin interacción cuando está oculto */
    /* visibility: hidden; */
    /* overflow: hidden;
    text-overflow: hidden; */
    white-space: nowrap;
}

.iconNavItemDropdownContainerCollapsed {
    max-width: 0;
    /* ocupa 0, pero sigue montado */
    opacity: 0;
    /* opcional (solo visual) */
    pointer-events: none;
    /* sin interacción cuando está oculto */
}

/*2***************      ITEM DROPDOWN DEL NAV     *************** */

    /* 🔥 Cuando un dropdown está activo (porque un hijo está activo) */
.navItemDropdownActive {
    background: var(--color-theme-primary-light);
    border-bottom: 1px solid var(--color-theme-primary-light);
}

/* Para colapsado */
/* .navItemDropdownActive .navItemContent label,
.navItemDropdownActive .navItemContent {
} */

.navItemDropdown {

    /* distribucion flex desde el padre */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 50px;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 0.5rem;

    /* dimension */
    padding-block: 0.5rem;

    /* interactivdad */
    cursor: pointer;
}

.navItemDropdownIsNotActive:hover {

    /* distribucion box */
    border-bottom: 1px solid var(--color-theme-font-white);

    /* estilos */
    color: var(--color-theme-font-white);
    background-color: var(--color-theme-primary-light);

}

.navItemDropdown>* {
    cursor: inherit;
}

.wrapperItemDropdown {
    /* distribucion box */
    padding-left: 0.8rem;
    padding-right: 0.8rem;

    /* distribucion flex */
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 3rem;

    /* interactivdad */
    cursor: inherit;

    /* dimension */
}



.wrapperItemDropdownCollapsed {
    /* distribucion box */
    padding-left: 0.8rem;
    padding-right: 0.8rem;

    /* distribucion flex */
    display: flex;
    justify-content: space-between;
    align-items: stretch;

    /* interactivdad */
    cursor: inherit;

}

.navItemContent {
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    color: var(--color-theme-font-white);
    gap: 0.2rem;

    /* interactivdad */
    cursor: inherit;

}

.navItemContent>* {
    cursor: inherit;
}

.iconNavItemDropdownContainer {
    /* distribucion flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconDropdownItem {
    /* dimension */
    width: 16px;
    height: 16px;

    /* estilos */
    stroke-width: 3px;
    color: var(--color-theme-font-white);
}


.navListChildrenDropdown {
    /* dimension */
    padding-left: 2rem;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.navListChildrenDropdownCollapsed {
    /* dimension */

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
}

.navItemDropdownIsExpanded {
    background-color: rgba(255, 255, 255, 0.2);
}

/*2***************      FOOTER      *************** */

.footerSection {
    /* distribucion flex con respecto al padre */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    gap: 1rem;

    /* distribucion box */
    padding-bottom: 1rem;
}

.footerSectionCollapsed {

    /* distribucion flex con respecto al padre */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    gap: 1rem;

    /* distribucion box */
    padding-bottom: 1rem;
}

.iconExpandButtonContainer {
    /* distribucion flex */
    display: flex;
    justify-content: end;
    align-items: center;
    /* dimension */
    padding-right: 1.5rem;
}

.iconExpandButtonContainerCollapsed {
    /* distribucion flex */
    display: flex;
    justify-content: center;
    align-items: center;
    /* dimension */
}

.expandButtonCollapsed,
.expandButton {
    /* dimension */
    background: transparent;
    border: none;
    /* interactivdad */
    cursor: pointer;
}

.iconCoollapsedAside {
    /* dimension */
    height: 24px;
    width: 24px;
    /* estilos */
    color: var(--color-theme-font-white);
}


.navItemCollapsed .navLink {
    /* distribucion flex */
    justify-content: center;
    align-items: center;
    /* distribucion box */
    padding-block: 0.5rem;
    /* interactivdad */
    cursor: pointer;
}

.navItemCollapsed:hover {
    /* distribucion box */
    border-bottom: 2px solid var(--color-theme-font-white);
    /* estilos */
    background-color: var(--color-theme-primary-light);
}

.navItemCollapsed .navLink:hover:not(.navItemActive) {
    /* distribucion box */
    border-bottom: 1px solid var(--color-theme-primary-light);
    /* estilos */
    background: var(--color-theme-primary-light);
}

.navItemIconCollapsed {
    /* dimension */
    height: 24px;
    width: 24px;
}

.navItemIconCollapsed,
.navItemLabelCollapsed {
    /* estilos */
    color: var(--color-theme-font-white);
    /* interactivdad */
    cursor: pointer;
}


.logoWrapper {
    /* distribucion flex */
    display: flex;
    justify-content: center;
    align-items: center;
    /* interactivdad */
    cursor: pointer;

}

.navItemActive {
    /* estilos */
    background-color: var(--color-theme-secondary-light);
    /* distribucion box */
    border-bottom: 2px solid var(--color-theme-font-white);
}


/* ***************      HEADER      ***************/

.header {

    /* distribucion grid con respecto al padre */
    grid-area: header;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;

    /* distribucion box */
    padding-right: 1rem;
    padding-block: 0.3rem;
    border: 1px solid var(--color-theme-gray);

}

.headerFeatures {

    /* distribucion flex con respecto al padre */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 1.5rem;

}

.headerFeatures>* {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.notificationButton {

    /* distribucion box */
    border: none;

    /* interactividad */
    cursor: pointer;

    /* estilos */
    background: transparent;

    /* distribucion flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

.profileContainer {

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.profileInfoContainer {
    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.userName {
    /* estilos */
    text-align: center;
    color: var(--color-theme-font-black);
    font-size: 14px;
}

.userRole {
    /* estilos */
    text-align: end;
    font-size: 12px;
}

.avatarContainer {
    /* distribucion flex */
    display: flex;
    justify-content: center;
    align-items: stretch;
}

.iconAvatarHeader {
    /* dimension */
    height: 42px;
    width: 42px;
    /* estilos */
    color: var(--color-theme-neutral-primary);
}

.headerDivider {
    /* dimension */
    width: 2px;
    background-color: var(--color-theme-gray);

}

.popoverNotification {
    /* dimension */
    width: 360px;
    height: auto;
    min-height: 0px;

    /* distribucion flex */
    display: grid;
    grid-template:
        "headerPopover" auto
        "bodyPopover" 1fr
        "footerPopover" auto
        / 100%;

    /* distribucion box */
    border-radius: 15px;
    border: 1px solid var(--color-theme-border-table);

    /* estilos */
    background-color: var(--color-theme-font-white);
}

.popoverNotificationExpand {
    /* dimension */
    height: 600px;
    min-height: 0px;
}

.popoverNotificationNotExpand {
    /* dimension */
    min-height: 340px;
}

.popoverHeaderNotification {
    /* distribucion grid con respecto al padre */
    grid-area: headerPopover;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    /* distribucion box */
    border-radius: 15px 15px 0px 0px;
    padding: 0.5rem;

    /* estilos */
    color: var(--color-theme-font-white);
    background-color: var(--color-theme-secondary);
}

.popoverHeaderNotificationLabel {
    /* estilos */
    font-size: 12px;

    /* interactividad */
    cursor: pointer;
}

.popoverHeaderNotificationLabel:hover {
    /* estilos */
    text-decoration: underline;
}

.popoverHeaderNotificationTitle {
    /* estilos */
    font-size: 16px;
}

.popoverBodyNotification {
    /* distribucion grid con respecto al padre */
    grid-area: bodyPopover;
}

.popoverBodyNotificationExpand {
    /* dimension */
    overflow-y: auto;
}

.popoverFooterNotification {
    /* distribucion grid con respecto al padre */
    grid-area: footerPopover;

    /* distribucion flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* distribucion box */
    padding-block: 0.2rem;
    border-top: 1px solid var(--color-theme-border-table);

    /* interactividad */
    cursor: pointer;
}

.popoverFooterNotification span {
    /* estilos */
    font-size: 12px;
    color: var(--color-theme-primary-light);
}

.popoverFooterNotification:hover {
    /* estilos */
    text-decoration: underline;
}

.itemNotificationContainer {
    /* dimension */
    min-height: 70px;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;

    /* estilos */
    /* border: 1px solid var(--color-theme-border-table); */
    /* interactividad */
    cursor: pointer;
}

.itemNotificationContainer:hover {
    /* estilos */
    background-color: var(--color-theme-background);
}

.itemNotificationContainerNotRead {
    /* estilos */
    background-color: var(--color-theme-neutral-background);
}

.itemNotificationContainerRead {
    /* estilos */
    background-color: var(--color-theme-font-white);
}

.itemNotificationIconContainer {
    /* dimension */
    padding: 0.5rem;

    /* distribucion flex */
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemNotificationIconAlertContainer,
.itemNotificationIconWarningContainer,
.itemNotificationIconInfoContainer {
    /* dimension */
    width: 32px;
    height: 32px;

    /* distribucion flex */
    display: flex;
    justify-content: center;
    align-items: center;

    /* estilos */
    border-radius: 50%;
    height: 32px;
}

.itemNotificationIconAlertContainer {
    /* estilos */
    background-color: var(--color-alert-light);
    border: 1px solid var(--color-alert);
}

.itemNotificationIconWarningContainer {
    /* estilos */
    background-color: var(--color-warning-light);
    border: 1px solid var(--color-warning);
}

.itemNotificationIconInfoContainer {
    /* estilos */
    background-color: var(--color-ready-light);
    border: 1px solid var(--color-ready);
}


.iconNotificationAlert {
    /* estilos */
    color: var(--color-alert);
}

.iconNotificationWarning {
    /* estilos */
    color: var(--color-warning);
}

.iconNotificationInfo {
    /* estilos */
    color: var(--color-ready);
}

.indicatorNotification {
    /* estilos */
    background-color: var(--color-alert) !important;
    font-size: 12px;
}


/*
Selecciona el scrollbar en sí (el carril que aparece al hacer overflow). 
width: define el grosor del scrollbar vertical. 
height: define el grosor del scrollbar horizontal.
*/
.popoverBodyNotificationExpand::-webkit-scrollbar {
    /* dimension */
    width: 8px;
    /* para scroll vertical */
    height: 8px;
    /* para scroll horizontal */
}

/* 
  Define el fondo o carril del scrollbar. background: transparent lo hace invisible,
  para que solo el pulgar (thumb) sea visible.
  */
.popoverBodyNotificationExpand::-webkit-scrollbar-track {
    /* estilos */
    background: transparent;
}

/* es el "pulgar" del scrollbar — la parte que arrastras. */
.popoverBodyNotificationExpand::-webkit-scrollbar-thumb {
    /* distribucion box */
    border-radius: 4px;
    /* estilos */
    background-color: var(--color-theme-primary);
}

/*
  Estas propiedades sólo afectan Firefox, mientras que las anteriores (-webkit-) son para Chrome, Safari, Edge.
    scrollbar-width: thin:
        Controla el grosor del scrollbar.
        Opciones: auto (normal), thin (más delgado), none (oculto).
    scrollbar-color: <thumb> <track>:
        #423DD9: color del pulgar (thumb).
        transparent: fondo del carril (track).
  */
.popoverBodyNotificationExpand {
    scrollbar-width: thin;
    /* Firefox */
    scrollbar-color: var(--color-theme-primary) transparent;
    /* Firefox */
}

.itemNotificationContent {
    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: justify;

    /* distribucion box */
    padding: 0.5rem;

    /* estilos */
    font-size: 12px;
}

/* ***************      Popover Profile      ***************/

.popoverProfile {

    /* dimension */
    height: auto;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 0.5rem;

    /* distribucion box */
    padding-top: 1rem;
    border-radius: 15px;

    /* estilos */
    background-color: var(--color-theme-primary);

}

.popoverProfileInfoContainer {

    /* distribucion flex respecto al padre */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.popoverProfileInfoContainer>* {
    /* distribucion flex respecto al padre */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

.avatarProfile {
    /* dimension */
    width: 70px;
    height: 70px;

    /* estilos */
    color: var(--color-theme-font-white);
}

.userNameProfile {
    /* estilos */
    color: var(--color-theme-font-white);
    font-size: 16px;
}

.userRoleProfile {
    /* estilos */
    font-size: 12px;
    color: var(--color-theme-font-white);
}


.popoverProfileItemsContainer {
    /* distribucion flex respecto al padre */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.popoverProfileItemsContainer>*:last-child {
    /* distribucion box */
    border-radius: 0px 0px 15px 15px;
}

.popoverProfileItemsContainer .popoverProfileItem {
    /* distribucion flex respecto al padre */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 50px;
    font-size: 14px;

    /* interactividad */
    cursor: pointer;
}

.popoverProfileItem {

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;

    /* distribucion box */
    padding: 0rem 0rem 0rem 2rem;

    /* estilos */
    color: var(--color-theme-font-white);
    text-decoration: none;

}

.popoverProfileItem:hover {
    /* estilos */
    background-color: var(--color-theme-primary-light);
}

.iconPopoverProfile {
    /* dimension */
    width: 14px;
    height: 14px;
}

/* ***************      MAIN      ***************/

.main {
    /* distribucion grid respecto al padre */
    grid-area: main;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

    /* dimension */
    min-height: 0;

    /* distribucion box */
    padding-top: 2rem;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-bottom: 2rem;

    /* estilos */
    background-color: var(--color-theme-font-white);

}