/* *************** DialogModal *************** */

.containerDialogModal {
    /* dimension */
    width: 50%;
    height: 50%;
}

.containerDialogModalCustomContainer {
    /* distribucion box*/
    padding: 1rem;
}

/* *************** Container *************** */

.container {
    /* distribucion flex respecto al padre */
    flex: 1;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1rem;

}

.bodySection,
.footerSection {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

/* *************** Body *************** */

.bodySection {
    /* dimension */
    width: 100%;
    height: 90%;
    max-height: 90%;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;
    overflow-y: hidden;

    padding-top: 1rem;

}

.newProcessContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0.5rem;
}

.tableProductInputProcess {
    /* dimension */
    min-width: 0;
    min-height: 0;
}

/* ********** Options Row ********** */

.iconTrash {
    /* interactividad */
    cursor: pointer;
    /* estilos svg */
    stroke: var(--color-alert);
    width: 16px;
    height: 16px;
}

/* *************** Footer *************** */

.footerSection {
    /* dimension */
    width: 100%;
    height: 10%;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}