
/* *************** DialogModal *************** */

.containerDialogModal {
    /* dimension */
    width: 50%;
    height: 50%;
}

.containerDialogModalCustomContainer {
    /* distribucion box*/
    padding: 1rem;
}

/* *************** Container *************** */

.container {
    /* distribucion flex respecto al padre */
    flex: 1;
    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;
}

.bodySection,
.footerSection {
    /* distribucion flex respecto al padre */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

/* *************** Body *************** */

.bodySection {
    /* dimension */
    flex: 1;
    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 0.5rem;
}

.bodySection>h2 {
    /* dimension */
    color: var(--color-theme-primary);
    font-size: 24px;
}

/* *************** Footer *************** */

.footerSection {
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;

}
