.container {
    /* dimension */
    width: 680px;
    height: 270px;

}

.containerCustom {
    /* distribucion flex */
    justify-content: center;
    align-items: center;
    gap: 5%;

}

.closeButton {
    /* posicionamiento */
    position: absolute;
    top: 0.3rem;
    right: 0.3rem;

    /* distribucion box */
    border: none;

    /* interactividad */
    cursor: pointer;

    /* estilos */
    background-color: transparent;
}

.closeButton {
    color: var(--color-theme-primary);
}

.content {
    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;

}

.title {
    /* estilos */
    text-align: center;
    font-size: 24px;
    color: var(--color-theme-font-black);
}


/*?  Container buttons */

.containerButtons {
    /* dimension */
    width: 100%;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    /* estilos */
    font-size: 14px;
}

.buttonDelete.buttonDelete{
    background: var(--color-alert);
}

.buttonDelete.buttonDelete:hover{
    background: var(--color-alert-2);
}


/*?  Container warning icon */

.containerWarningIcon {
    /* dimension */
    width: 100%;

    /* distribucion flex */
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-alert);
}
