/* ******** Trigger Component ******** */

.optionIconButton {
  /* distribucion box */
  border: none;
  /* estilos */
  background: transparent;
  /* interactividad */
  cursor: pointer;
}

.optionIcon {
  /* estilos */
  color: var(--color-theme-font-white);
}

/* ******** Floating Component ******** */


.popoverContainer {
  /* ancho */
  width: 300px;

  /* distribucion flex respecto al padre */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

  /* distribucion flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  gap: 0.5rem;

  /* distribucion box */
  padding: 1rem;
  border-radius: 15px;
  border: 3px solid var(--color-theme-border-table);

  /* estilos */
  background-color: var(--color-theme-background);
}

.popoverContainer>* {
  /* distribucion flex respecto al padre */
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 1;
}

/* ? ******** Sort Section ******** */

.sortSection {
  /* distribucion flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  /* distribucion box */
  border: 1px solid var(--color-theme-border-table);
  border-radius: 15px;
}

.buttonToggleRadioButtonGroup {
  /* dimensiones */
  height: 44px;
}

/* ? ******** Filter Section ******** */

.filterSection {
  /* distribucion flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
}

.inputSearch {
  background-color: var(--color-theme-font-white);
}



/* ? ******** Actions buttons ******** */

.applyButton {
  width: 100%;
}

.applyButtonDisabled {
  width: 100%;
  opacity: 0.5;
  cursor: not-allowed;
}

.cancelButton {
  width: 100% !important;
}

.resetButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.resetButtonSpan:hover {
  text-decoration: underline;
}

.separator{
  /* estilos */
  color: var(--color-theme-gray);
}
