/* ******** CONTAINER ******** */

.container {
    /* dimension */
    width: 100%;
    height: 100%;

    /* distibucion grid */
    display: grid;
    grid-template:
        "header" auto
        "content" 1fr
        "footer" auto
        / 100%;
    gap: 1rem;
}

/* ******** HEADER ******** */

.headerSection {
    /* distribucion grid respecto al padre*/
    grid-area: header;

    /* distibucion flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;

    /* estilos */
    font-size: 24px;
    color: var(--color-theme-primary);

}


/* ******** FOOTER ******** */

.footerSection {
    /* distribucion grid respecto al padre*/
    grid-area: footer;

    /* distibucion flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

/* ******** CONTENT ******** */

.contentSection {
    /* distribucion grid respecto al padre*/
    grid-area: content;
    min-height: 0;
}

/* ? ******** TABLE ******** */

.genericTableContainer {
    min-height: 0;
    max-height: 100%;
}

/* ? ******** INPUT ******** */

.inputTextCustomContainer{
    height: 44px;
}

/* ? ************ TAG ************ */


.pending {
    background-color: var(--color-warning-light);
    color: var(--color-warning);
    border: 1px solid var(--color-warning);
}

.delivered {
    background-color: var(--color-alert-light);
    color: var(--color-alert);
    border: 1px solid var(--color-alert);
}

.cancelled {
    background-color: var(--color-partial-liht);
    color: var(--color-partial);
    border: 1px solid var(--color-partial);
}

.completed {
    background-color: var(--color-success-light);
    color: var(--color-success);
    border: 1px solid var(--color-success);
}
