/* *************** Shipping orders Model *************** */

.containerShippingOrdersModel {
    /* posicionamiento */
    position: relative;

    /* dimension */
    width: 100%;
    height: 100%;
    min-height: 0;
    min-width: 0;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    gap: 0.5rem;
}

/* *************** Header section *************** */

.headerSection {
    /* distribucion flex respecto al padre*/
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerSection h1 {
    /* dimension */
    font-size: 36px;
    color: var(--color-theme-primary);
}

/* *************** Content section *************** */

.containerTable {
    /* distribucion flex respecto al padre*/
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    /* dimension */
    min-height: 0;
    min-width: 0;
}

.containerExtraComponents {
    /* distribucion flex respecto al padre */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.containerButtons {
    /* distribucion flex respecto al padre */
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: auto;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    gap: 0.5rem;
}

.inputTextCustom.inputTextCustom {
    /* dimension */
    width: 300px;
}

/* *************** KPIs section *************** */

.containerKPIs {
    /* distribucion flex respecto al padre */
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: auto;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.containerKPIs>* {

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* distribucion box */
    border-radius: 15px;

}

.containerSectionTextKPICard {

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.2rem;

    /* dimension */
    font-size: 14px;
    color: var(--color-theme-font-white);
}

.containerSectionTextKPICard>* {
    /* dimension */
    min-width: max-content;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;

}

.containerSectionTextKPICard>*:last-child {
    /* dimension */
    min-width: max-content;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 0.2rem
}

.wrapperText {

    /* distribucion box */
    border-radius: 15px;
    padding-inline: 0.4rem;
    padding-block: 0.2rem;
}

/* *************** Row actions *************** */

.IconRowActions {
    /* dimension */
    width: 16px;
    height: 16px;
    stroke: var(--color-alert);
}