/* *************** Container *************** */

.containerStep {
    /* distirbucion flex respecto al padre*/
    flex: 1;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;

}

.containerContent {
    /* distribucion flex respecto al padre */
    flex: 1;
}

.containerButtons {
    /* distribucion flex respecto al padre */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

/* *************** Container Content *************** */

.containerContent {
    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;

}

.containerContent>* {
    /* distribucion flex respecto al padre */
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}


/* ? firstBlock */

.firstBlock {
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.firstBlock>* {
    /* distribucion flex */
    flex: 1;
}


/* ? secondBlock */

.secondBlock {
    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;
}

.secondBlock>* {
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;

}

.secondBlock>*>* {
    /* distribucion flex respecto al padre */
    flex: 1;
}



/* ? thirdBlock */

.thirdBlock {
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

.thirdBlock>* {
    /* distribucion flex respecto al padre */
    flex: 1;
}


/* *************** Container Buttons *************** */

.containerButtons {
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}