/* ******** base ******** */

.mainActionButton {
    /* dimension */
    width: 200px;
    height: 44px;

    /* distribucion box */
    border-radius: 15px;

    /* interactividad */
    cursor: pointer;
}

.mainActionButtonCustomSpan {
    /* dimension */
    width: 100%;
    height: 100%;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mainActionLabel {
    font-size: 14px;
}

.mainActionIcon {
    width: 15px;
    height: 15px;
}

.mainActionButton:focus {
    outline: none;
}

/* ******** disabled ******** */

.mainActionButtonCustomDisabled {
    /* estilos */
    background: var(--color-theme-background);
    border: 2px solid var(--color-theme-neutral-primary);
    /* interactividad */
    cursor: not-allowed;
}

.mainActionButtonCustomLabelDisabled {
    /* estilos */
    color: var(--color-theme-neutral-primary);
}

.mainActionButtonCustomIconDisabled {
    /* estilos */
    color: var(--color-theme-neutral-primary);
}

/* ******** enabled ******** */

.mainActionButtonCustomEnabled {
    border: none;
    background: var(--color-gradient-purple);
}

.mainActionButtonCustomEnabled .mainActionButtonCustomLabelEnabled {
    font-size: 14px;
    color: var(--color-theme-font-white);
}

.mainActionButtonCustomIconEnabled {
    color: var(--color-theme-font-white);
}

.mainActionButtonCustomEnabled:hover:not(:disabled) {
    background: var(--color-theme-primary-light);
}