.containerProductionPanel {
    /* posicionamiento */
    position: absolute;
    z-index: 1000;

    /* dimension */
    width: 100%;
    height: 100%;

    /* distribucion grid */
    display: grid;
    grid-template:
        "header" auto
        "main" 1fr /
        100%;

    /* estilos */
    background-color: var(--color-theme-font-white);
}



/* *************** Header *************** */

.headerSection {
    /* distribucion con respecto al padre grid */
    grid-area: header;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;

}

.headerSection>h1 {
    /* estilos */
    font-family: inherit;
    font-size: 36px;
    color: var(--color-theme-primary);
}

/* *************** Main *************** */

.mainSection {
    /* dimension */
    width: 100%;
    height: 100%;


    /* distribucion con respecto al padre grid */
    grid-area: main;

    /* distribucion flex */
    display: grid;
    grid-template:
        "panels" auto
        "data" 1fr / 100%;
    gap: 1rem;

}


/* *************** Panel *************** */

.panelSection {
    /* distribucion con respecto al padre grid */
    grid-area: panels;

    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;
    gap: 1rem;
}

.panelSection>* {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
}


.tabPanelSection {
    height: 33px;

    background: transparent;
    color: var(--color-theme-neutral-primary);

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 1px solid var(--color-theme-border-table);
}

.tabPanelSection:hover:not(.tabPanelSectionSelected) {
    cursor: pointer;
    background-color: var(--color-theme-neutral-background);
    color: var(--color-theme-neutral-primary);
}

.tabPanelSectionSelected {
    background-color: var(--color-theme-primary-light);
    color: var(--color-theme-font-white);
    border-radius: 15px;
}


/* *************** Data *************** */

.dataSection {
    /* distribucion con respecto al padre grid */
    grid-area: data;

    /* distribucion grid */
    /* distribucion grid */
    display: grid;
    grid-template:
        "aside content" 100%
        / max-content 1fr;
    gap: 0.5rem;

    /* estilos */
    background-color: var(--color-theme-background);
    border-radius: 15px;
    padding: 2rem;

}

/* ? *************** Aside *************** */

.asideSection {
    grid-area: aside;

    /* distribucion grid */
    display: grid;
    grid-template:
        "asideContent toggle" 100%
        / max-content 45px;
    gap: 0.5rem;

    /* distribucion box */
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;

}

.asideSectionExpand {

    /* distribucion grid */
    grid-template-columns: max-content 45px;

    /* estilos */
    background-color: var(--color-theme-background);
}

.asideSectionCollapse {

    /* distribucion grid */
    grid-template-columns: 0px 45px;

    /* estilos */
    background-color: var(--color-theme-secondary-light);

    gap: 0;
}



.asideSectionExpand .asideContent {
    visibility: visible;
}

.asideSectionExpand .asideContentCollapse {
    display: none;
    visibility: hidden;
}


/* ? *************** Aside Content *************** */

.asideContent {

    /* distribucion grid dentro del padre*/
    grid-area: asideContent;

    /* distribucion grid */
    display: grid;
    grid-template:
        "title" max-content
        "data" max-content / 100%;
    gap: 0.5rem;
}

.asideContentExpand {
    visibility: visible;
}

.asideContentCollapse {
    visibility: hidden;
}

.asideContent>h3 {
    /* distribucion grid dentro del padre*/
    grid-area: title;
}

.asideContentItems {

    /* distribucion grid dentro del padre*/
    grid-area: data;

    /* distribucion flex */
    display: flex;
    flex-direction: column;

    /* distribucion box */
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;

    /* estilos */
    background-color: var(--color-theme-font-white);
}

.asideContentItems>* {
    /* dimension */
    height: 44px;

    /* distribucion flex */
    display: flex;
    flex-direction: row;

    /* distribucion box */
    padding-left: 0.5rem;
    border: 1px solid var(--color-theme-border-table);
    font-size: 14px;

}

.asideContentItems>*:first-child {

    /* distribucion flex */
    justify-content: start;
    align-items: center;

    /* distribucion box */
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;

    /* estilos */
    background-color: var(--color-theme-primary-light);
    color: var(--color-theme-font-white);

}

.asideContentItems>*:last-child {
    /* distribucion box */
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

.asideContentItems>*:last-child>span {
    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5rem;
}

.asideContentItem {
    /* dimension */
    width: 100%;

    /* distribucion flex */
    align-items: center;
    gap: 0.5rem;

    /* distribucion border */
    padding: 0.5rem;
}

.asideContentIcon {
    color: var(--color-theme-primary);
    width: 15px;
    height: 15px;
}

/* ? *************** Aside Toggle *************** */

.asideToggle {
    /* distribucion con respecto al padre grid */
    grid-area: toggle;

    /* distribucion flex */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.asideToggleIcon {
    width: 30px;
    height: 30px;
    color: var(--color-theme-primary);
}

/* ? *************** Content *************** */

.contentSection {
    /* distribucion con respecto al padre grid */
    grid-area: content;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    /* para que el scroll no se propague al padre */
    overflow: hidden;

}

.contentSection>* {
    min-width: 100%;
}

.contentSection .headerH3 {
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;

}

.contentContent {

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 0.5rem;

    /* estilos */
    overflow-x: auto;
}

.productionLineContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;

    /* estilos */
    border-radius: 15px;
    border: 1px solid var(--color-theme-border-table);
}

.productionLineItemName {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;

    background-color: var(--color-theme-primary-light);
    color: var(--color-theme-font-white);
}

.productionLineItemIcon {
    width: 15px;
    height: 15px;
    color: var(--color-theme-font-white);
}

.productionOrderContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
}

.productionOrderItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 0.5rem;
}


/* ? *************** Content Header *************** */

.headerH3 {
    font-size: 20px;
    color: var(--color-theme-primary);
}