.classNameContainer {
    display: flex;
    flex-direction: column;
}

.classNameInputContainer {
    width: 100%;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    position: relative;
}

.classNameInput {
    border: none;
    width: 100%;
    padding-left: 0.5rem;
    padding-right: 10%;
    border-radius: 10px;
}

.classNameInput:focus {
    outline: none;
}


.classNameButton {
    position: absolute;

    right: 2%;
    top: 25%;

    border: none;
    background: none;
    cursor: pointer;
}

.classNameInput[type="password"]::-webkit-input-decoration,
.classNameInput[type="password"]::-webkit-credentials-auto-fill-button,
.classNameInput[type="password"]::-webkit-input-suggestion-button,
.classNameInput[type="password"]::-webkit-input-clear-button,
.classNameInput[type="password"]::-webkit-textfield-decoration-container {
  display: none !important;
}

.classNameInput[type="password"]::-ms-reveal,
.classNameInput[type="password"]::-ms-clear {
  display: none;
}
