.container {
    /* posicionamiento */
    position: relative;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}


.dateLabel {
    /* estilos */
    font-family: inherit;
}

.dateField {
    /* posicionamiento */
    position: relative;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.dateInput {
    /* dimension */
    width: 100%;
    height: 100%;

    /* distribucion box */
    padding-left: 1rem;
    padding-right: 2.5rem;

    /* estilos */
    font-family: inherit;
}

.dateInput:focus {
    outline: none;
}

.dateButton {
    /* dimension */
    height: 100%;

    /* posicionamiento */
    position: absolute;
    right: 3%;

    /* distribucion flex */
    display: flex;
    align-items: center;
    justify-content: center;


    /* estilos */
    border: transparent;
    background: transparent;
    cursor: pointer;

}

.datePopover {
    width: auto;
    /* posicionamiento */
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 1010;

    /* distribucion box */
    padding: 1rem;
    border-radius: 20px;

    /* estilos */
    background: white;
}

