/* ******** base ******** */

.secundaryActionButtonCustom {
    /* dimension */
    width: 200px;
    height: 44px;

    /* distribucion box */
    border-radius: 15px;

    /* interactividad */
    cursor: pointer;
}

.secundaryActionButtonCustomSpan {
    /* dimension */
    width: 100%;
    height: 100%;

    /* distribucion flex */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.secundaryActionButtonCustomLabel {
    font-size: 14px;
}

.secundaryActionButtonCustomIcon {
    width: 15px;
    height: 15px;
}

.secundaryActionButtonCustom:focus {
    outline: none;
}

/* ******** disabled ******** */

.secundaryActionButtonCustomDisabled {
    /* estilos */
    background: var(--color-theme-background);
    border: 2px solid var(--color-theme-neutral-primary);
    /* interactividad */
    cursor: not-allowed;
}

.secundaryActionButtonCustomLabelDisabled {
    /* estilos */
    color: var(--color-theme-neutral-primary);
}

.secundaryActionButtonCustomIconDisabled {
    /* estilos */
    color: var(--color-theme-neutral-primary);
}

/* ******** enabled ******** */

.secundaryActionButtonCustomEnabled {
    border: none;
    background: var(--color-theme-neutral-background);
}

.secundaryActionButtonCustomEnabled .secundaryActionButtonCustomLabelEnabled {
    font-size: 14px;
    color: var(--color-theme-primary);
}

.secundaryActionButtonCustomIconEnabled {
    color: var(--color-theme-primary);
}

.secundaryActionButtonCustomEnabled:hover:not(:disabled) .secundaryActionButtonCustomLabelEnabled {
    color: var(--color-theme-font-white);
}

.secundaryActionButtonCustomEnabled:hover:not(:disabled){
    background-color: var(--color-theme-primary-light);
}

.secundaryActionButtonCustomEnabled:hover:not(:disabled) .secundaryActionButtonCustomIconEnabled {
    color: var(--color-theme-font-white);
}